.dl-animation-shake {
    -webkit-animation: shake-lr 2.5s .15s linear 1;
}

/* 左右摇动 */
@-webkit-keyframes shake-lr{ 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50%,100% {
        transform: rotate(0deg);
    }
}